---
# https://yamllint.readthedocs.io/en/stable/configuration.html#default-configuration
# https://yamllint.readthedocs.io/en/stable/rules.html

extends: default

rules:
  line-length:
    level: warning
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  comments:
    require-starting-space: false
  empty-lines:
    max-end: 1
