---
# {{...}}=needs replacement
# {{DESCRIPTION}}

substitutions:
  device_name: new-device0
  name: "New Device 0"
  description: A new device

packages:
  <<: !include_dir_named common
  board: !include boards/{{BOARD}}.yaml
  # i2c: !include components/i2c.yaml

# sensor:
  # - <<: !include sensors/{{SENSOR}}.yaml
