---
# esp32-s3-box Voice assistant using the "ready made project" yaml
# via "remote_packge" and adding customizations (using !extend overrides)
#
substitutions:
  device_name: "esp32-s3-box0"
  name: "ESP32 S3 Box 0"
  description: "ESP32 S3 Box Voice Assistant"
  use_transparency: "true"
  micro_wake_word_model: hey_jarvis
  service: 

packages:
  device: !include devices/voice-assistant-esp32-box.yaml
  <<: !include_dir_named common

# <<: !include components/bluetooth_proxy+tracker.yaml

sensor:
  - platform: homeassistant
    id: carport_temp
    entity_id: sensor.carport_temperature

color:
  - id: dark_purple
    hex: 582cb0
    # hex: 6432c8
  - id: medium_purple
    hex: a65dde
  - id: light_purple
    hex: deadf5
  - id: red
    hex: FF2D00
  - id: medium_red
    hex: CC2000

display:
  - platform: ili9xxx
    id: !extend s3_box_lcd
    # model: S3BOX
    # data_rate: 40MHz
    # cs_pin: 5
    # dc_pin: 4
    # reset_pin: 48
    pages:
      - id: !extend idle_page
        lambda: |-
          it.fill(id(idle_color));
          it.image((it.get_width() / 2), (it.get_height() / 2), id(casita_idle), ImageAlign::CENTER);
          id(draw_timer_timeline).execute();
          id(draw_active_timer_widget).execute();
          it.strftime((it.get_width() / 2), 20, id(font_time), Color::WHITE, TextAlign::CENTER, "%I:%M %p", id(time_ha).now());
          //it.strftime((it.get_width() / 2), (it.get_height()-20), id(font_date), light_purple, TextAlign::CENTER, "%m-%d", id(time_ha).now()); // centered
          it.strftime((it.get_width()-110), 195, id(font_date), light_purple, "%m-%d", id(time_ha).now());
          it.printf(2, 195, id(font_date), Color::WHITE, " %.1f°F ", id(carport_temp).state);
         # it.strftime((it.get_width() / 2), (it.get_height() / 50), id(font_time), Color::WHITE, TextAlign::CENTER, "%I:%M %p", id(time_ha).now());
         # it.strftime(160, 85, id(font_time), Color::WHITE, TextAlign::CENTER, "%I:%M %p", id(time_ha).now());
      - id: !extend muted_page
        lambda: |-
          it.fill(medium_red);
          //it.print((it.get_width() / 2), (it.get_height() / 2), id(font_date), Color::BLACK, TextAlign::CENTER, "MUTED");
          it.print((it.get_width() / 2), (it.get_height() / 2), id(font_date), Color::WHITE, TextAlign::CENTER, "MUTED");
          id(draw_timer_timeline).execute();
          id(draw_active_timer_widget).execute();
          it.strftime((it.get_width() / 2), 20, id(font_time), Color::WHITE, TextAlign::CENTER, "%I:%M %p", id(time_ha).now());
          //it.strftime((it.get_width() / 2), (it.get_height()-20), id(font_date), light_purple, TextAlign::CENTER, "%m-%d", id(time_ha).now());
          it.strftime((it.get_width()-110), 195, id(font_date), light_purple, "%m-%d", id(time_ha).now());
          it.printf(2, 195, id(font_date), Color::WHITE, " %.1f°F ", id(carport_temp).state);

font:
  - file: "gfonts://Roboto"
    id: font_time
    size: 45
    # size: 60
    #glyphs: "0123456789AMP:- "
  - file: "gfonts://Roboto"
    id: font_date
    size: 40
    #glyphs: "0123456789.- MUTE"
  - file: "gfonts://Roboto"
    id: font_small
    size: 20

time:
  - platform: homeassistant
    id: time_ha
    # timezone: Europe/Berlin
    # update screen every minute so time/date are refreshed
    on_time:
      # Every 1 minutes
      - seconds: 0
        minutes: /1
        then:
          - script.execute: draw_display
