---
substitutions:
  device_name: lilygo-lora32-0
  name: Lilygo Lora32 0
  device_id: lilygo_lora32_0
  description: Lilygo TTGO Lora32 - 433MHz
  # Set below to the id of or use as id of the display & time compenents. Used in
  # antiburn switch/time components so it updates when antiburn is turned off
  display_id: display0
  time_id: time_ha

packages:
  <<: !include_dir_named common
  board: !include boards/esp32dev.yaml
  antiburn_time: !include components/lvgl-antiburn-time.yaml
  btproxy: !include components/bluetooth_proxy+tracker.yaml
  #btpoxy: !include components/bluetooth_proxy+tracker-ble-wait-wifi.yaml

#external_components:
#  - source: github://pr#7490
#    components: [sx127x]

api:
  # reciever doesn't seem to start until a code is sent, so send '0'
  # after api is connected (instead of on_boot w/ delay)
  on_client_connected:
    - remote_transmitter.transmit_rc_switch_raw:
        code: '0'
        protocol: 1
        repeat:
          times: 1
          wait_time: 0s
    - script.execute: time_update
    - component.update: display0
    #- lambda: ESP_LOGD("Client connect:", "%s", client_info.c_str());

wifi:
  ## doesn't seem to work if wifi is connected, disconnects, and reconnects
  #on_connect:
  #  - logger.log: "******WIFI connected******"
  #  - lvgl.widget.show: lbl_hastatus
  #  - component.update: display0
  #on_disconnect:
  #  - logger.log: "******WIFI disconnected******"
  #  - lvgl.widget.hide: lbl_hastatus
  #  - component.update: display0

esp32:
  framework:
    type: esp-idf

spi:
  clk_pin: GPIO5
  mosi_pin: GPIO27
  miso_pin: GPIO19

sx127x:
  cs_pin: GPIO18
  rst_pin: GPIO23
  frequency: 433920000
  modulation: OOK
  bitsync: on
  packet_mode: false
  rx_start: false
  rx_floor: -90
  bandwidth: 50_0kHz
  pa_pin: BOOST
  pa_power: 17

#remote_receiver:
#  id: rx_id
#  pin:
#    number: GPIO32
#    mode:
#      input: true
#      output: true
#      pullup: true
#      open_drain: true
#    allow_other_uses: true
#  #filter: 250us # defaults to 50us
#  #idle: 2000us
#  #buffer_size: 100000b
#  #memory_blocks: 3 #8
#  dump: all
##  dump:
##    - rc_switch
##    - raw

remote_transmitter:
  id: tx_id
  pin:
    number: GPIO32
    mode:
      input: true
      output: true
      pullup: true
      open_drain: true
  #  allow_other_uses: true   # needs to be off w/ receiver commented(off)
  eot_level: false
  carrier_duty_percent: 100%
  on_transmit:
    then:
      - sx127x.set_mode_standby
      - lambda: 'id(tx_id)->digital_write(false);'
      - sx127x.set_mode_tx
  on_complete:
    then:
      - sx127x.set_mode_standby
      - lambda: 'id(tx_id)->digital_write(true);'
      - sx127x.set_mode_rx

button:
  - platform: template
    name: living_room_belkin_pwr_on
    on_press:
      then:
        - remote_transmitter.transmit_rc_switch_raw:
            code: '010101010101010101010111'
            protocol: 1
            repeat:
              times: 4
              wait_time: 0s
  - platform: template
    name: living_room_belkin_pwr_off
    on_press:
      then:
        - remote_transmitter.transmit_rc_switch_raw:
            code: '010101010101010101010100'
            protocol: 1
            repeat:
              times: 4
              wait_time: 0s

# I2C for OLED
i2c:
  sda: GPIO21
  scl: GPIO22
  scan: true

display:
  - platform: ssd1306_i2c
    id: display0
    model: "SSD1306 128x64"
    address: 0x3C
    #update_interval: 10s
    update_interval: never  # will this work and display b/c of the on_client_connect?
    #lambda: |-
    #  it.print(0, 0, id(font_small), "Hello World!");

font:
#  - file: "gfonts://Roboto"
#    id: font_small
#    size: 12
  - file: "gfonts://Roboto"
    id: font_medium
    size: 20
    glyphs: "*"
#  - file: "gfonts://Roboto"
#    id: font_large
#    size: 40
#    glyphs: ". "
  - file: "gfonts://Roboto"
    id: font_time
    size: 45
    # size: 60
    glyphs: "0123456789AMP:- "
#  - file: "gfonts://Noto+Sans+Symbols"
#    id: icons_20
#    size: 20
#  - file: "fonts/materialdesignicons-webfont.ttf"  # don't think I could get this to work
#    id: mdi_20
#    size: 20

## Always ends up with white screen, something w/ "top_layer"? Below w/o layer works.
#lvgl:
#  displays:
#    - display0
#  top_layer:
#    bg_color: black
#    widgets:
#      # show + when API connected
#      - label:
#          text: "+"
#          id: lbl_hastatus
#          #hidden: true
#          align: top_right
#          x: -2
#          y: 7
#          text_font: font_small
#          text_align: right
#          text_color: white
#          #text_color: 0xFFFFFF

lvgl:
  displays:
    - display0
  bg_color: black
  widgets:
   # - label:
   #     id: lbl_hastatus
   #     text: "*"
   #     #align: center
   #     text_font: font_medium
   #     text_color: white
   #     # from above
   #     #hidden: true
   #     align: top_right
   #     text_align: right
   #     #x: -2
   #     y: -3
    - label:
        id: lbl_time
        text: "00:00"
        align: CENTER
        text_align: CENTER
        text_font: font_time
        text_color: white
        outline_color: black
        y: 5
        #x: 1
  on_resume:
    then:
      - script.execute: time_update

time:
  - platform: homeassistant
    id: !extend ${time_id}
    #id: ${time_id}
    on_time_sync:
      - script.execute: time_update
    on_time:
      - seconds: 0
        minutes: '*'
        #minutes: /1
        then:
          - script.execute: time_update

switch:
  <<: !include components/lvgl-antiburn-switch.yaml

script:
  - id: time_update
    then:
      # - lambda: ESP_LOGD("TIME DEBUGGING", "%s", id(${time_id}).now().strftime("%I:%M").c_str());
      - lvgl.label.update:
          id: lbl_time
          text: !lambda |-
            return id(${time_id}).now().strftime("%I:%M");
      - delay: .10s # there seems to be a race condition b/t lambda and display update and this resolves it.
      - component.update: display0
      - logger.log: "update Time script ran"
